<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <p>Logged in as <strong><%= current_user.email %></strong>.</p>
  <p><%= link_to 'Edit registration', edit_user_registration_path %></p>
  <% if current_user.otp_required_for_login %>
    <div class="field" style="margin: 1em">
      <i>Disable OTP?</i><br />
      <%= link_to "Disable 2FA", disable_otp_show_path %>
    </div>
  <% else %>
    <div class="field" style="margin: 1em">
      <i>Enable OTP?</i><br />
      <%= link_to "Enable 2FA", enable_otp_show_qr_path %>
    </div>
  <% end %>
  <p><%= link_to 'Logout', destroy_user_session_path, method: :delete, data:{turbo_method: :delete} %></p>
<% else %>
  <p>Not logged in.</p>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
  <p><%= link_to 'Login', new_user_session_path %></p>
<% end %>